@charset "UTF-8";

h1 {
  text-align: center;
}
.flex {
  display: flex;
  justify-content: center;
}
.flex .right {
  margin: 0 0 0 20px;
  padding: 0;
}
.flex .title {
  margin: 0;
  padding: 0;
}
.flex .text {
  margin: 10px 0 0;
  padding: 0;
}
.under {
  text-align: center;
}
